<div class="container">
    <h1>Some details</h1>
    <div class="row">
        <hr>
        <div class=" col-xs-12 col-sm-4">
            <div class="car-images">
                <img ng-src="{{mainImageUrl}}">
            </div> <!-- car-images -->
            <ul class="car-thumbs list-unstyled">
                <li ng-repeat="img in car.images">
                    <img ng-src="{{img}}" ng-click="setImage(img)">
                </li>
            </ul>
        </div> <!-- col-xs-12 col-sm-4 -->
        <div class="col-xs-12 col-sm-8">
            <h1>{{ car.name }}</h1>
          <p>{{ car.includes }}</p>
          <hr>
          <ul class="specs list-unstyled">
              <li>
                  <span>Availability</span>
                  <dl>
                      <dt>Drives</dt>
                      <dd ng-repeat="Drives in carId.Drives">{{Drives}}</dd>
                  </dl>
              </li>
          </ul>
        </div> <!-- col-xs-12 col-sm-8 -->
    </div> <!-- row -->
</div>  <!-- container -->