<div class="container">
    <h1>Some details</h1>
    <div class="row">
        <hr>
        <div class=" col-xs-12 col-sm-4">
            <div class="car-images">
                <img ng-src="{{mainImageUrl}}">
            </div> <!-- car-images -->
            <ul class="car-thumbs list-unstyled">
                <li ng-repeat="img in car.images">
                    <img ng-src="{{img}}" ng-click="setImage(img)">
                </li>
            </ul>
        </div> <!-- col-xs-12 col-sm-4 -->
        <div class="col-xs-12 col-sm-8">
            <h1>{{ car.name }}</h1>
              <p>{{ car.includes.join(', ') }}</p>
          <hr>
          <ul class="list-unstyled">
              <li>
                  <span>Drives</span>
                  <dl>
                      <dt>Information</dt>
                      <dd >{{ car.information }}</dd>
                  </dl>
              </li>
              <li>
                  <span>Transmissions</span>
                  <dl>
                      <dt>Transmissions</dt>
                      <dd>{{ car.transmissions }}</dd>
                  </dl>
              </li>
              <li>
                  <span>Available Engines</span>
                  <dl>
                      <dt>Available Engines</dt>
                      <p>
                        <dd>{{ car.availableEngines }}</dd>
                      </p>
                      
                  </dl>
              </li>
          </ul>
        </div> <!-- col-xs-12 col-sm-8 -->
    </div> <!-- row -->
</div>  <!-- container -->