<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="car-images">
      <img ng-src="{{mainImageUrl}}">
    </div>
    <ul class="car-thumbs list-unstyled">
      <li ng-repeat="img in car.images">
        <img ng-src="{{img}}" ng-click="setImage(img)">
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8">
		<h1>{{car.name}}</h1>
		<p>{{car.Drives}}</p>
		<hr>
		<ul class="specs list-unstyled">
		<li>
		<span>includes</span>
		<dl>
			<dt>includes</dt>
			<dd ng-repeat="includes in car.includes">{{includes}}</dd>
		</dl>
  </div>
</div>