<div class="container">
	<h1>Contact Page</h1>
    <div class="row">
    	<hr>
        <div class="left col-xs-12 col-sm-3 col-md-4 col-lg-4">
        	<form name="Form.contact" ng-submit="contact()">
				<div class="form-group">
			    	<label for="inputEmail">Email address</label>
			    	<input type="email" name="email" ng-model="contactData.email" class="form-control validate-err" placeholder="E-mail" required>
			    	<div class="error-container" ng-show="Form.contact.email.$dirty &amp;&amp; Form.contact.email.$invalid" role="alert">
                    	<small class="error ng-hide" ng-show="Form.contact.email.$error.required">This field is required</small>
                    	<small class="error" ng-show="Form.contact.email.$dirty &amp;&amp; Form.contact.email.$error.email">This field must be a valid email address</small>
                	</div>
			    </div> <!-- form-group -->
			    <div class="form-group">
			    	<label for="inputPassword">Full Name</label>
			    	<input type="text" name="fullName" ng-model="contactData.fullName" class="form-control validate-err" placeholder="Text" required>
			    	<div class="error-container" ng-show="Form.contact.fullName.$dirty &amp;&amp; Form.contact.fullName.$invalid" role="alert">
                    	<small class="error" ng-show="Form.contact.fullName.$error.required">This field is required</small>
                	</div>
			    </div> <!-- form-group -->
			  	<div class="checkbox ">
			    	<div><b>Write a message</b></div>
			    	<textarea class="form-control validate-err" name="message" id="message" rows="3" ng-model="contactData.message" required></textarea>
			    	<div class="error-container" ng-show="Form.contact.message.$dirty &amp;&amp; Form.contact.message.$invalid" role="alert">
                    	<small class="error" ng-show="Form.contact.message.$error.required">This field is required</small>
                	</div><br>
			  		<button type="submit" ng-disabled="Form.contact.$invalid" class="btn btn-primary">Send</button>
			  	</div> <!-- checkbox -->
			</form>
        </div> <!-- left col-xs-12 col-sm-3 col-md-4 col-lg-4 -->
		<div class="right">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.7143924902066!2d-87.63537878498185!3d41.87749097343211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbdd7241847%3A0x37b8f23411d1f5b2!2s175+W+Jackson+Blvd%2C+Chicago%2C+IL+60606%2C+USA!5e0!3m2!1sen!2sua!4v1455893049525" width="520" height="370" style="border:0"></iframe>
		</div> <!-- right -->
	</div> <!-- row -->
</div> <!-- container -->
